
.send-button{
    background-color: rgb(75, 134, 75);
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.chat-ip-container{
    display: flex;
    margin-bottom: 60px;
}
.chat-input{
    padding: 12px 15px;
    border-radius: 10px;
    border-width: 1px ;
    font-size: 15px;
    flex-grow: 1;
}
.App{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.chat-msg-user{
    display: flex;
    justify-content: end;
    align-items: start;
}
.chat-msg-robot{
    display: flex;
    align-items: start;
}
.chat-msg-txt{
    background-color: rgb(238,238,238);
    font-family: Arial;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 300px;
}
.chat-msg-profile{
    width: 45px;

}
.chat-msgs-container{
    flex-grow: 1;
    overflow: scroll;
    /* min-height: 0; */
    margin-top: 20px;
    scrollbar-width: none;
}
